<template>
  <Comp :content="list"></Comp>
</template>

<script setup>
import { h, ref, onMounted } from 'vue'
import Comp from './Comp.vue'
  const list = [
    {
    label: "asda",
    content: "b",
  },
     {
    label: "aasd",
    content: "b",
  },
     {
    label: "aasd",
    content: "basdas",
  },
  ];
  
</script>

