<script setup lang="ts">
import { h, toRefs, PropType } from "vue";

  type Content = {
  label: string;
  content: string;
  isEnabled: boolean;
};
  
const props = defineProps({
  content: {
    type: Array as PropType<Content[]>,
    default: [],
  },
});


const { content } = toRefs(props);

const renderList = () => {
  return h(
    "ul",
    content.value.map(({ label, content, isEnabled }) => {
      isEnabled = typeof isEnabled !== "undefined" ? isEnabled : true;
      return isEnabled
        ? h("li", { key: label }, [h("h5", label), h("p", content)])
        : null;
    })
  );
};
</script>

<template>
  <renderList />
</template>
<style scoped>
ul {
  padding-left: 1rem;
}

li {
  margin-bottom: 1rem;
  list-style-type: disc;
  word-break: break-word;
}
li:last-child::marker {
  color: yellow;
}
li:first-child::marker {
  color: #ccc;
}
p {
  line-height: 1.4;
}
h5 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
</style>
